<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="main_text">

  <p class="h1">h1 heading</p>
  <p class="h2">h2 heading</p>
  <p class="h3">h3 heading</p>
  <p class="h4">h4 heading</p>
  <p class="h5">h5 heading</p>
  <p class="h6">h6 heading</p>

  <hr class="bg-dark">

  <button type="button" class="btn btn-primary">was Blue</button>
  <button type="button" class="btn btn-secondary">was Grey</button>
  <button type="button" class="btn btn-success">was Dark green</button>
  <button type="button" class="btn btn-danger">was Red</button>
  <button type="button" class="btn btn-warning">was Yellow</button>

  <hr class="bg-dark">

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vitae arcu tempor neque lacinia pretium. Aliquam id dolor. Vivamus porttitor turpis ac leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec iaculis gravida nulla. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Fusce tellus. Vivamus ac leo pretium faucibus. Etiam commodo dui eget wisi. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Quisque porta. Mauris dictum facilisis augue. Et harum quidem rerum facilis est et expedita distinctio.</p>


</div>
</body>
